Repository upb-uc4/hlf-api, pull requests merged in 2020-12, with the labels that each got.

#111 Feature/exam regulation tests
  .github/workflows/dev_network_test.yml
  .github/workflows/production_network_test.yml
  CHANGELOG.md
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ApprovalTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataExaminationRegulation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelper.scala
Labels: Hyperledger

#115 Feature/admission
  .github/workflows/dev_network_test.yml
  .github/workflows/production_network_test.yml
  build.sbt
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionAdmission.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionAdmissionTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/AdmissionTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UserManagementTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataAdmission.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataExaminationRegulation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataMatriculation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestSetup.scala
Labels: Hyperledger, enhancement

#117 Feature/temper with connection for frontend signing
  .github/workflows/dev_network_test.yml
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionAdmission.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionExaminationRegulation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionGroup.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionMatriculation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionAdmissionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionExaminationRegulationTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionGroupTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionMatriculationTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/CAClientManager.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/EnrollmentManager.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/RegistrationManager.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/ReflectionHelper.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/TransactionHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/AdmissionTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UserManagementTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataExaminationRegulation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelperCrypto.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelperStrings.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestSetup.scala
Labels: Hyperledger, bug
