Repository upb-uc4/hlf-api, pull requests merged in 2020-10, with the labels that each got.

#62 Feature/publish to maven
  .github/workflows/dev_network_test.yml
  .github/workflows/no_network_test.yml
  .github/workflows/production_network_test.yml
  .github/workflows/publish_to_sonatype.yml
  .github/workflows/style_check.yaml
  build.sbt
  project/Commons.scala
  project/plugins.sbt
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/TransactionException.scala
Labels: Hyperledger, enhancement

#67 Feature/support multiple enrollments
  CHANGELOG.md
  project/Commons.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/EnrollmentManager.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/traits/EnrollmentManagerTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testData/TestDataMatriculation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UserManagementTests.scala
Labels: Hyperledger, enhancement

#69 Feature/drop courses support
  .github/workflows/dev_network_test.yml
  .github/workflows/production_network_test.yml
  README.md
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCourses.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCourseTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionMatriculationTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseDevNetwork.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseProductionNetwork.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testData/TestDataCourses.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CourseAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CourseErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/InternalManagerTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/NonExistentNetworkTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/TestHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UserManagementTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/sequentialSuites/ProductionNetworkTestSuite.scala
Labels: Hyperledger

#70 Feature/more tests matriculation
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
Labels: Hyperledger

#71 Unfinished Feature/frontend signing
  .github/workflows/dev_network_test.yml
  .github/workflows/production_network_test.yml
  setup_minikube_ip.sh
  setup_node_ip.sh
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionMatriculation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionMatriculationTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/HyperledgerException.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/TransactionException.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/traits/HyperledgerExceptionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/traits/TransactionExceptionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/ConnectionManager.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/GatewayManager.scala
  src/test/resources/connection_profile_kubernetes_template.yaml
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseDevNetwork.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseProductionNetwork.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
Labels: Hyperledger, enhancement

#74 fix tests
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/Logger.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/ReflectionHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/MatriculationErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/NonExistentNetworkTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UserManagementTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataMatriculation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelper.scala
Labels: Hyperledger

#76 Feature/frontend signing
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionMatriculation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionMatriculationTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/HyperledgerException.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/exceptions/traits/HyperledgerExceptionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/Logger.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/ReflectionHelper.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/TransactionHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
Labels: Hyperledger

#79 Feature/support v11 production network
  .github/actions/production_network_setup/action.yml
  .github/workflows/production_network_test.yml
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseProductionNetwork.scala
Labels: Hyperledger, enhancement

#88 Remove final preventing mocking
  CHANGELOG.md
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
Labels: Hyperledger

#85 Change hlf-network tag to new version.
  .github/workflows/production_network_test.yml
  project/plugins.sbt
Labels: Hyperledger, bug, enhancement
