Repository upb-uc4/hlf-api, pull requests merged in 2020-11, with the labels that each got.

#75 provide and use "Approval"-Connection
  .github/workflows/dev_network_test.yml
  .github/workflows/production_network_test.yml
  build.sbt
  project/Commons.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionApproval.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionMatriculation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionApprovalsTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/ReflectionHelper.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/helper/TransactionHelper.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ApprovalTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/CertificateErrorTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataMatriculation.scala
Labels: Hyperledger

#92 Update ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/UnsignedTransactionTests.scala
Labels: Hyperledger

#95 Feature/examination regulation
  .github/workflows/dev_network_test.yml
  .github/workflows/no_network_test.yml
  .github/workflows/production_network_test.yml
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionApproval.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionCertificate.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionExaminationRegulation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/cases/ConnectionMatriculation.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionApprovalsTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionCertificateTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionExaminationRegulationTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/connections/traits/ConnectionTrait.scala
  src/main/scala/de/upb/cs/uc4/hyperledger/utilities/ConnectionManager.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBase.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/ExaminationRegulationAccessTests.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestDataExaminationRegulation.scala
  src/test/scala/de/upb/cs/uc4/hyperledger/tests/testUtil/TestHelper.scala
Labels: Hyperledger, enhancement

#96 Feature/support hlf network local usage november
  .github/actions/production_network_setup/action.yml
  .github/workflows/production_network_test.yml
  src/test/resources/connection_profile_kubernetes.yaml
  src/test/resources/connection_profile_kubernetes_template.yaml
  src/test/scala/de/upb/cs/uc4/hyperledger/testBase/TestBaseProductionNetwork.scala
Labels: Hyperledger, enhancement

#110 Feature/testing doku
  src/test/README.md
Labels: Hyperledger, documentation
